body{
    margin: 0;
}
.grid{
    display: grid;
    grid-template-rows: 1fr 400px;
    justify-content: center;
}
h2{
    font-size: 50px;
    padding: 25px 0;
    text-align: center;
    color: rgb(46, 52, 63);
}
.profile{
    padding: 0 30px;
}
.profile-img{
    padding-bottom: 50px;
    width: 1000px;
    height: 700px;
}
.about-me{
    display: block;
    border: 3px rgb(46, 52, 63) solid;
    box-sizing: border-box;
    width: 1000px;
    padding: 15px 10px;
    font-weight: bold;
    font-size: 20px;
}
.comment{
    display: block;
    border: 3px rgb(46, 52, 63) solid;
    margin: 20px 0 200px;
    box-sizing: border-box;
    width: 1000px;
    padding: 15px 10px;
    font-size: 18px;
    justify-self: center;
}
h3{
    font-size: 30px;
}
#nav{
    background-color: rgb(46, 52, 63);
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: blanchedalmond;
    text-decoration: underline;
    background-color: transparent;
}
a{
    color: blanchedalmond;
    font-weight: bold;
    font-size: 17px;
}
.nav-pills>li>a:hover, .nav-pills>li.active>a:hover{
    color: rgb(121, 104, 79);
    font-weight: bolder;
    background-color: blanchedalmond;
}
li{
    padding: 15px 0;
}
#contact{
    display: flex;
    justify-content: center;
    padding: 30px;
    border-top:rgb(46, 52, 63) solid 5px;
    width: 100%;
}
.insta, .github, .email{
    width: 90px;
    height: 40px;
    padding: 0 20px;
}
